# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
build
Debug
Release

# Visual studio file
.vs
*.sln
*.vcxproj
*.suo
*.filters
*.user
vc*.pdb
*.sdf
*.opensdf

# Visual Studio Code
.vscode

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
*-build-*

# CMAKE
CMakeFiles
Win32
install_manifest.txt
cmake_install.cmake
CMakeCache.txt
*_autogen