# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
build

# Visual studio file
.vs
*.sln
*.vcxproj
*.suo
*.filters
*.user
vc*.pdb
*.sdf
*.opensdf

# Visual Studio Code
.vscode

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile*
*-build-*